[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
ipykernel = "*"
pandas = "*"
matplotlib = "*"
numpy = "*"
scipy = "*"
seaborn = "*"
tqdm = "*"
joblib = "*"

[dev-packages]
autopep8 = "*"
black = "*"
pytest = "*"
mypy = "*"

[requires]
python_version = "3.8"
python_full_version = "3.8.10"
